@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap");

body {
  background-image: url("https://pbs.twimg.com/media/EKPbkfeUcAAD3l1?format=png&name=large");
}

.draggable {
  width: 90px;
  height: 90px;
  padding: 0.5em;
  float: left;
  margin: 0 10px 10px 0;
}

#dogeHouse {
  width: 95%;
  height: 300px;
  border: 2px solid rgb(112, 78, 50);
  padding: 10px;
}

h3,
label,
p {
  background-color: rgb(255, 255, 255);
}

h3 {
  color: rgb(124, 98, 74);
  /*   font-family: "Roboto", sans-serif; */
  font-family: "Quicksand", sans-serif;
}
h5{
  color:beige
}
h6{
  color:rgb(124, 98, 74)
}
.card {
  margin-top: 1rem;
}
